.table {
  inline-size: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  white-space: nowrap;
  width: 100%;
  border-collapse: collapse;
}

.tableAlignRight > * {
  text-align: end;
}

.tableAlignCenter > * {
  text-align: center;
}

.tableHead {
  text-transform: uppercase;
  color: var(--mui-palette-text-primary);
  position: sticky;
  top: 0;
  background-color: var(--mui-palette-customColors-tableHeaderBg);
  z-index: 1;
}

.tableContainer {
  max-height: 500px; /* Ajustez cette valeur selon vos besoins */
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 1rem;
}


.tableHeadCell {
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.2px;
  line-height: 1.8462;
  text-align: start;
  block-size: 56px;
  background-color: var(--mui-palette-customColors-tableHeaderBg);
  font-weight:800;
}

.tableHeadCell:not(:first-of-type):not(:last-of-type) {
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.tableHeadCell:first-of-type:not(:has(input[type='checkbox'])) {
  padding-block: 0.5rem;
  padding-inline: 1.25rem 1rem;
  padding-left: 1rem

}

.tableHeadCell:first-of-type:has(input[type='checkbox']) {
  padding-inline-start: 0.6875rem;
}

.tableHeadCell:last-of-type {
  padding-block: 0.5rem;
  padding-inline: 1rem 1.25rem;
}

.tableBody {
  color: var(--mui-palette-text-secondary);
}

.tableCell {
  font-size: 0.9375rem;
  line-height: 1.4667;
  block-size: 50px; 
  padding-left: 5rem;

}

.tableCell:not(:first-of-type):not(:last-of-type) {
  padding-block: 1.5rem;
  padding-inline: 1rem;
}

.tableCell:first-of-type:not(:has(input[type='checkbox'])) {
  padding-block: 0.5rem;
  padding-inline: 1.25rem 1rem;
}

.tableCell:first-of-type:has(input[type='checkbox']) {
  padding-inline-start: 0.6875rem;
}

.tableCell:last-of-type {
  padding-block: 0.5rem;
  padding-inline: 1rem 1.25rem;
}

.tableRow:not(:last-child) {
  border-block-end: 1px solid var(--border-color);
}

.tableRow:hover {
  background-color: var(--mui-palette-action-hover); /* Change la couleur de fond lors du survol */
}

.cellWithInput input {
  inline-size: 100%;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  border-radius: var(--mui-shape-customBorderRadius-sm);
  padding-block: 6px;
  padding-inline: 10px;
  margin-inline: -10px;
}

.cellWithInput input:focus-visible {
  outline: 1px solid var(--mui-palette-primary-main);
}





@media screen and (max-width: 768px) {
  .table, .tableBody, .tableRow, .tableCell {
    display: block;
  }

  .tableHead {
    display: none; /* Cache l'en-tête original */
  }

  .tableRow {
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
  }

  .tableCell {
    border: none;
    position: relative;
    padding-left: 50% !important;
    text-align: left;
    white-space: normal;
    height: auto;
    font-weight:900;
  }

  .tableCell:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding: 0.5rem;
    white-space: nowrap;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8125rem;
    background-color: var(--mui-palette-customColors-tableHeaderBg);
    color: var(--mui-palette-text-primary);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .tableCell {
    padding-left: calc(45% + 1rem) !important;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  .tableAlignRight > *,
  .tableAlignCenter > * {
    text-align: left;
  }
}